@use '../../../styles/settings.scss' as settings;

.contact_bar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40px;
  background-color: settings.$color-background-secondary-transparent;
  color: settings.$color-text-light;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  letter-spacing: 0.1rem;
  z-index: 10;

  .contact_item {
    margin: 20px 0;
    font-size: 0.9rem;
    // transform: rotate(180deg); // odwracamy tekst w pionie
  }

  .contact_item_icon {
    margin: 20px 0;
    font-size: 20px;

    a {
      display: flex;
    }
  }
}

@media (max-width: 768px) {
  .contact_bar {
    width: 30px;
    font-size: 0.8rem;
    letter-spacing: 0.05rem;

    .contact_item_icon {
      margin: 10px 0;
      font-size: 18px;
    }
  }
}
