@use '../../../styles/settings.scss' as settings;

.thumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
  padding: 20px;

  .image_button {
    position: relative;

    .text_on_image {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-family: 'Alfa Slab One', sans-serif;
      font-size: 1.2rem;
      color: settings.$color-text-dark;
    }

    &:nth-child(1) {
      transform: rotate(-2deg);
    }

    &:nth-child(2) {
      transform: rotate(1.5deg);
    }

    &:nth-child(3) {
      transform: rotate(-1.5deg);
    }

    &:nth-child(4) {
      transform: rotate(2deg);
    }

    &:nth-child(5) {
      transform: rotate(-1deg);
    }

    &:hover {
      transform: scale(1.05);
      transition: transform 0.3s ease-in-out;
    }
  }
}

@media (max-width: 1400px) {
  .thumbs {
    gap: 10px;

    .image_button {
      max-width: 350px;

      .text_on_image {
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 991px) {
  .thumbs {
    gap: 10px;

    .image_button {
      max-width: 300px;

      .text_on_image {
        font-size: 0.9rem;
        bottom: 9px;
      }
    }
  }
}
