@use '../../../styles/settings.scss' as settings;

.section_title {
  text-align: center;
  margin-bottom: 80px;
  position: relative;
  z-index: 1;

  .background_text {
    position: absolute;
    top: -100px;
    left: -100px;
    width: 100%;
    height: 100%;
    font-size: 11rem;
    font-family: settings.$font-hero-title;
    color: settings.$color-text-title-background-transparent;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1rem;
    z-index: -1;
  }

  .separator {
    width: 250px;
    height: auto;

    polygon {
      fill: settings.$color-secondary !important;
    }
  }

  h3 {
    font-size: 3.3rem;
    letter-spacing: 0.4rem;
    color: settings.$color-text-dark;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  .color_primary {
    color: settings.$color-primary;
  }

  p {
    color: settings.$color-text-dark;
    margin-bottom: 1rem;
  }
}
.white {
  .background_text {
    color: settings.$color-text-title-white-background-transparent;
  }

  h3 {
    color: settings.$color-text-light;
  }

  p {
    color: settings.$color-text-light;
  }

  .separator {
    width: 250px;
    height: auto;

    polygon {
      fill: settings.$color-primary !important;
    }
  }
}

@media (max-width: 768px) {
  .section_title {
    h3 {
      font-size: 2rem;
    }

    .background_text {
      font-size: 5rem;
      top: -50px;
      left: -10px;
      letter-spacing: 0.5rem;
    }
  }
}
