@use './settings.scss' as settings;
@use './typography.scss' as typography;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden !important;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  color: settings.$color-text-dark;
  line-height: 1.7;
  letter-spacing: 0.5px;
  overflow-y: scroll;
  min-height: 100vh;
  overflow-x: hidden !important;
  overflow: auto;
  font-family: settings.$font-body;
}

em {
  font-style: normal;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

.invisible_text {
  display: none;
}

.color_primary {
  color: settings.$color-primary !important;
}

.no_button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

@media (min-resolution: 1.25dppx) and (max-resolution: 1.49dppx) {
  html {
    font-size: 13px;
  }
}

@media (min-resolution: 1.5dppx) and (max-resolution: 2.49dppx) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 15px;

    textarea {
      font-size: 16px !important;
    }

    input {
      font-size: 16px !important;
    }
  }
}

