@use '../../../styles/settings.scss' as settings;

.heroSlider {
  position: 'relative';
  height: '100vh';
  overflow: 'hidden';

  .shapeDivider {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: auto;
    bottom: 0;
    fill: settings.$color-background-light;
  }
}
