@use '../../../styles/settings.scss' as settings;

.canvas_button {
  background-color: transparent;
  border-color: settings.$color-background-light;
  color: settings.$color-background-light;
  font-size: 1.2rem;
  padding: 1px 10px 5px 10px;

  &:hover {
    border-color: settings.$color-primary;
    color: settings.$color-primary;
    background-color: transparent;
  }
}

.menu_wrapper {
  display: flex;
  flex-direction: column;

  svg {
    font-size: 30px;
  }

  .menu_image {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .lang {
    display: flex;
    justify-content: flex-end !important;

    & > a {
      margin-left: 10px;
      color: settings.$color-text-dark;
      font-weight: settings.$font-weight-bold;
      font-size: 0.9rem;
      text-decoration: none;
    }

    & > a.active {
      color: settings.$color-primary;
    }
  }
}

.scrolled {
  background-color: transparent;
  color: settings.$color-text-light;
  border-color: settings.$color-background-light;
}
