@use '../../../styles/settings.scss' as settings;

.header {
  background-color: settings.$color-background-dark;
  position: relative;
  height: 100vh;
  overflow: hidden;

  .background {
    background-image: image-set(url('/images/tlo.avif') type('image/avif'), url('/images/tlo.webp') type('image/webp'));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  // Alternatywna wersja tła
  &.second .background {
    background-image: image-set(
      url('/images/szczeliniec_wielki.avif') type('image/avif'),
      url('/images/sszczeliniec_wielki.webp') type('image/webp')
    );
    background-position: top;
  }

  .foreground {
    background-image: image-set(
      url('/images/tlo-bez-nieba.avif') type('image/avif'),
      url('/images/tlo-bez-nieba.webp') type('image/webp')
    );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }

  // Alternatywna wersja foreground
  &.second .foreground {
    background-image: image-set(
      url('/images/szczeliniec_wielki_bez_nieba.avif') type('image/avif'),
      url('/images/szczeliniec_wielki_bez_nieba.webp') type('image/webp')
    );
    background-position: top;
  }

  .content {
    position: relative;
    top: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    display: flex;
    flex-direction: column;

    // alternatywna wersja z inną wysokością
    &.second {
      top: 100px;
    }

    .title {
      font-size: 10rem;
      letter-spacing: 0.6rem;
      text-transform: uppercase;
      line-height: 1.2;
      text-wrap: nowrap;
      color: settings.$color-text-primary-transparent;
    }

    .subtitle {
      font-size: 1.4rem;
      font-family: settings.$font-body;
      font-weight: settings.$font-weight-bold;
      margin-top: 1rem;
      line-height: 1.2;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      color: settings.$color-text-secondary;
    }

    .subtitle.second {
      color: settings.$color-text-light;
      text-shadow: 2px 2px 4px rgba(43, 42, 42, 0.5);
    }
  }

  .hero_info {
    position: absolute;
    z-index: 4;
    bottom: 150px;
    left: 15%;
    width: 270px;
    background: settings.$color-background-secondary-transparent;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    .hero_info_text {
      h3 {
        font-size: 1.2rem;
        font-family: settings.$font-body;
        font-weight: settings.$font-weight-bold;
        margin-top: 1rem;
        line-height: 1.2;
        letter-spacing: 0.2rem;
        color: settings.$color-text-light;
        text-transform: uppercase;
        text-shadow: 1px 1px 3px rgba(43, 42, 42, 0.5);
      }

      p {
        font-size: 0.8em;
        margin-top: 1rem;
        line-height: 1.2;
        letter-spacing: 0.2rem;
        color: settings.$color-text-light;
        text-shadow: 1px 1px 3px rgba(43, 42, 42, 0.5);
      }
    }
  }

  .lottie {
    position: absolute;
    z-index: 5;
    bottom: 40%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 35px;
    height: auto;
    pointer-events: none;

    svg path {
      fill: settings.$color-background-light;
    }
  }

  .lottie.second {
    bottom: 50%;
  }
}
