@use '../../../styles/settings.scss' as settings;

.about_me {
  padding: 150px 0 100px;
  position: relative;

  .shapeDividerBottom {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    fill: settings.$color-background-secondary;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .first_column {
      flex: 50%;
      display: flex;
      flex-direction: column;
      padding-right: 40px;

      h4 {
        font-size: 2.5rem;
        font-weight: settings.$font-weight-bold;
        color: settings.$color-text-primary;
        margin-bottom: 20px;
      }

      p {
        color: settings.$color-text-dark;
        margin-bottom: 20px;
      }
    }

    .second_column {
      flex: 50%;
    }

    .next_row {
      .next_row_image {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
      }
      .uprawnienia {
        max-width: 400px;
        margin: 100px auto 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          text-align: center;
          margin-top: 20px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .about_me {
    .wrapper {
      flex-direction: column;

      .first_column {
        margin-bottom: 50px;
        padding: 0 20px;
        .image {
          width: 100%;
        }
      }

      .second_column {
        padding: 0 10px;
      }
    }
  }
}
