@use '../../../styles/settings.scss' as settings;

.about_me {
  padding: 150px 0 100px;
  position: relative;

  .shapeDividerBottom {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    fill: settings.$color-background-secondary;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;

    .first_column {
      flex: 50%;
      display: flex;
      flex-direction: column;
      padding-right: 40px;

      h4 {
        font-size: 2.5rem;
        font-weight: settings.$font-weight-bold;
        color: settings.$color-text-secondary;
        margin-bottom: 20px;
      }

      p {
        color: settings.$color-text-dark;
        margin-bottom: 20px;
      }
    }

    .second_column {
      flex: 50%;
    }

    .next_row {
      .next_row_image {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
      }

      .uprawnienia {
        margin: 100px auto 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .uprawnienia_loga {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
        }

        .uprawnienia_text {
          max-width: 500px;

          p {
            text-align: center;
            margin-top: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .about_me {
    padding: 100px 0 50px;

    .wrapper {
      flex-direction: column;
      align-items: center;

      .first_column {
        padding-right: 0;
        text-align: center;
        margin-bottom: 50px;
      }

      .second_column {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
      }

      .next_row {
        .next_row_image {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .about_me {
    padding: 50px 0 30px;

    .wrapper {
      .next_row {
        .uprawnienia {
          .uprawnienia_loga {
            gap: 0;
            img {
              padding: 20px;
            }
          }
        }
      }
    }
  }
}
